

.cont {
    width: 95%;
    margin: auto;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.12), 0 2px 3px rgba(0,0,0,0.24);
    background-color: #f4f4f4;
   
}


.cont1 {
    width: 460px;
    display: flex;
    justify-content: space-between;
   
}

.input {
    background-color: #fafafa;
    margin-right: 20px;
 
}


.searchButton {
    margin-right: 50px;
    }
    