.NavBAr {
    background-color: #ff9100;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10%;
  }

  .logo {
   height: 90%;
   width: 15%;
   margin-left: 5%;
  }

  .link {
    text-decoration: none;
    color: black;
   }
   

  