
.sideCard {
    margin: 10px;
    width:85%;
    height: 150px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-around;
}

.t1{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    width: 240px;
}
.progressbar{
width: 60px;
height: 60px;
margin-top: 5px;
margin-right: 5px;

}